 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1000px;
	 height: 2050px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Background 
{ 
	background: url(images/Background.png) repeat-x;
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 100%;
	 height: 2050px;
	 z-index:1;
} 

 #Layer1copy 
{ 
	background: url(images/banner_background.png) repeat-x;
	 left: 0px; 
	 top: 6px; 
	 position: absolute; 
	 width: 100%;
	 height: 188px;
	 z-index:2;
	
} 


 #Layer1 
{ 
	 left: 695px; 
	 top: 104px; 
	 position: absolute; 
	 width: 188px;
	 height: 56px;
	 z-index:4;
} 

 #Layer2 
{ 
	 left: 141px; 
	 top: 150px; 
	 position: absolute; 
	 width: 119px;
	 height: 29px;
	 z-index:5;
} 

 #Healthybeginningsfor 
{ 
	 left: 339px; 
	 top: 87px; 
	 position: absolute; 
	 width: 291px;
	 height: 79px;
	 z-index:6;
} 

 #Layer1811 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 100%;
	 height: 2px;
	 z-index:7;
	background: url(images/Layer18copy8.png) repeat-x;
}

 #Layer19copy8 
{ 
	background: url(images/Layer19copy8.png) repeat-x;
	 left: 0px; 
	 top: 2px; 
	 position: absolute; 
	 width: 100%;
	 height: 25px;
	 z-index:7;
} 

 #ENGLISH 
{ 
	 left: 691px; 
	 top: 6px; 
	 position: absolute; 
	 width: 36px;
	 height: 7px;
	 z-index:8;
} 

 #FRENCH 
{ 
	 left: 840px; 
	 top: 6px; 
	 position: absolute; 
	 width: 33px;
	 height: 7px;
	 z-index:9;
} 

 #KINYARWANDA 
{ 
	 left: 751px; 
	 top: 6px; 
	 position: absolute; 
	 width: 66px;
	 height: 7px;
	 z-index:10;
} 

 #Layer3 
{ 
	 left: 138px; 
	 top: 70px; 
	 position: absolute; 
	 width: 119px;
	 height: 54px;
	 z-index:11;
} 

 #Layer1copy17 
{ 
	 left: 134px; 
	 top: 20px; 
	 position: absolute; 
	 width: 822px;
	 height: 31px;
	 z-index:12;
} 

 #Layer4 
{ 
	 left: 197px; 
	 top: 20px; 
	 position: absolute; 
	 width: 598px;
	 height: 31px;
	 z-index:13;
} 

 #Layer1copy18 
{ 
	 left: 230px; 
	 top: 27px; 
	 position: absolute; 
	 width: 628px;
	 height: 17px;
	 z-index:14;
} 

 #PregnanciesNewBornCh 
{ 
	 left: 142px; 
	 top: 29px; 
	 position: absolute; 
	 width: 789px;
	 height: 14px;
	 z-index:15;
} 

 #Layer5 
{ 
	 left: 136px; 
	 top: 51px; 
	 position: absolute; 
	 width: 296px;
	 height: 124px;
	 z-index:16;
} 

 #dotscopy4 
{ 
	 left: 143px; 
	 top: 61px; 
	 position: absolute; 
	 width: 202px;
	 height: 77px;
	 z-index:17;
} 

 #SubmittedPregnancies 
{ 
	 left: 149px; 
	 top: 65px; 
	 position: absolute; 
	 width: 274px;
	 height: 69px;
	 z-index:18;
} 

 #Layer5copy2 
{ 
	 left: 323px; 
	 top: 51px; 
	 position: absolute; 
	 width: 160px;
	 height: 124px;
	 z-index:19;
} 

 #dotscopy6 
{ 
	 left: 330px; 
	 top: 61px; 
	 position: absolute; 
	 width: 18px;
	 height: 77px;
	 z-index:20;
} 

 #TrackingChildHealthD 
{ 
	 left: 335px; 
	 top: 65px; 
	 position: absolute; 
	 width: 174px;
	 height: 72px;
	 z-index:21;
} 

 #Layer5copy 
{ 
	 left: 233px; 
	 top: 51px; 
	 position: absolute; 
	 width: 157px;
	 height: 82px;
	 z-index:22;
} 

 #dotscopy5 
{ 
	 left: 241px; 
	 top: 61px; 
	 position: absolute; 
	 width: 18px;
	 height: 47px;
	 z-index:23;
} 

 #TrackingNewBornPo 
{ 
	 left: 246px; 
	 top: 65px; 
	 position: absolute; 
	 width: 119px;
	 height: 39px;
	 z-index:24;
} 

 #Layer2copy8 
{ 
	 left: 329px; 
	 top: 20px; 
	 position: absolute; 
	 width: 106px;
	 height: 31px;
	 z-index:25;
} 

 #Layer2copy12 
{ 
	 left: 521px; 
	 top: 20px; 
	 position: absolute; 
	 width: 118px;
	 height: 31px;
	 z-index:26;
} 

 #Layer2copy14 
{ 
	 left: 861px; 
	 top: 20px; 
	 position: absolute; 
	 width: 95px;
	 height: 31px;
	 z-index:27;
} 

 #Layer2copy13 
{ 
	 left: 647px; 
	 top: 20px; 
	 position: absolute; 
	 width: 205px;
	 height: 31px;
	 z-index:28;
} 

 #Layer2copy11 
{ 
	 left: 438px; 
	 top: 20px; 
	 position: absolute; 
	 width: 78px;
	 height: 31px;
	 z-index:29;
} 

 #Layer2copy9 
{ 
	 left: 135px; 
	 top: 20px; 
	 position: absolute; 
	 width: 95px;
	 height: 31px;
	 z-index:30;
} 

 #Layer2copy10 
{ 
	 left: 236px; 
	 top: 20px; 
	 position: absolute; 
	 width: 84px;
	 height: 31px;
	 z-index:31;
} 

 #Layer6 
{ 
	background: url(images/Layer6.png) repeat-x;
	 left: 0px; 
	 top: 190px; 
	 position: absolute; 
	 width: 100%;
	 height: 63px;
	 z-index:32;
} 

 #Layer7 
{ 
	 left: 657px; 
	 top: 213px; 
	 position: absolute; 
	 width: 207px;
	 height: 21px;
	 z-index:33;
} 

 #Layer8 
{ 
	 left: 844px; 
	 top: 214px; 
	 position: absolute; 
	 width: 20px;
	 height: 19px;
	 z-index:34;
} 

 #SelectHealthCare 
{ 
	 left: 680px; 
	 top: 216px; 
	 position: absolute; 
	 width: 128px;
	 height: 12px;
	 z-index:35;
} 

 #Layer9 
{ 
	 left: 633px; 
	 top: 211px; 
	 position: absolute; 
	 width: 15px;
	 height: 23px;
	 z-index:36;
} 

 #Layer10 
{ 
	 left: 427px; 
	 top: 211px; 
	 position: absolute; 
	 width: 199px;
	 height: 23px;
	 z-index:37;
} 

 #Layer4copy 
{ 
	 left: 182px; 
	 top: 211px; 
	 position: absolute; 
	 width: 209px;
	 height: 24px;
	 z-index:38;
} 

 #From 
{ 
	 left: 133px; 
	 top: 217px; 
	 position: absolute; 
	 width: 40px;
	 height: 11px;
	 z-index:39;
} 

 #Layer11 
{ 
	 left: 92px; 
	 top: 209px; 
	 position: absolute; 
	 width: 24px;
	 height: 27px;
	 z-index:40;
} 

 #To 
{ 
	 left: 399px; 
	 top: 215px; 
	 position: absolute; 
	 width: 21px;
	 height: 11px;
	 z-index:41;
} 

 #ccmvcmr 
{ 
	 left: 138px; 
	 top: 329px; 
	 position: absolute; 
	 width: 752px;
	 height: 261px;
	 z-index:42;
} 

 #newborncare 
{ 
	 left: 248px; 
	 top: 366px; 
	 position: absolute; 
	 width: 498px;
	 height: 21px;
	 z-index:43;
	 font-family: 'Open Sans', sans-serif;
	 font-size: 20px;
	
} 

 #lightblue 
{ 
	 left: 647px; 
	 top: 404px; 
	 position: absolute; 
	 width: 144px;
	 height: 146px;
	 z-index:44;
} 

 #top 
{ 
	 left: 687px; 
	 top: 419px; 
	 position: absolute; 
	 width: 93px;
	 height: 35px;
	 z-index:45;
	font-family: 'Open Sans', sans-serif;
	 font-size: 18px;
	color: #fff;
} 

 #layer_7807 
{ 
	 left: 660px; 
	 top: 459px; 
	 position: absolute; 
	 width: 126px;
	 height: 53px;
	 z-index:46;
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	 font-size: 28px;
	color: #7558df;
}
 #layer_7807 > strong
{ 
	color: #fff;
	font-weight:normal;
	font-size: 42px;
}


 #purplecircle 
{ 
	 left: 497px; 
	 top: 403px; 
	 position: absolute; 
	 width: 145px;
	 height: 147px;
	 z-index:47;
} 

 #top1 
{ 
	 left: 537px; 
	 top: 421px; 
	 position: absolute; 
	 width: 88px;
	 height: 33px;
	 z-index:48;
	font-family: 'Open Sans', sans-serif;
	 font-size: 18px;
	color: #fff;
	
} 

 #layer_9812 
{ 
	 left: 514px; 
	 top: 459px; 
	 position: absolute; 
	 width: 121px;
	 height: 48px;
	 z-index:49;
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	 font-size: 28px;
	color:#62d8ed;
}
 #layer_9812 > strong
{ 
	color: #fff;
	font-weight:normal;
	font-size: 42px;
}

 #greencircle 
{ 
	 left: 350px; 
	 top: 406px; 
	 position: absolute; 
	 width: 144px;
	 height: 144px;
	 z-index:50;
} 

 #top2 
{ 
	 left: 388px; 
	 top: 421px; 
	 position: absolute; 
	 width: 93px;
	 height: 38px;
	 z-index:51;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #fff;
} 

 #layer_11243 
{ 
	 left: 358px; 
	 top: 454px; 
	 position: absolute; 
	 width: 136px;
	 height: 55px;
	 z-index:52;
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	 font-size: 28px;
	color:#092aa8;
}
 #layer_11243 > strong
{ 
	color: #fff;
	font-weight:normal;
	font-size: 42px;
}

 #bluecircle 
{ 
	 left: 200px; 
	 top: 408px; 
	 position: absolute; 
	 width: 145px;
	 height: 147px;
	 z-index:53;
} 
 #top3 
{ 
	 left: 229px; 
	 top: 424px; 
	 position: absolute; 
	 width: 99px;
	 height: 35px;
	 z-index:54;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #fff;
} 
 #layer_12347 
{ 
	 left: 202px; 
	 top: 456px; 
	 position: absolute; 
	 width: 141px;
	 height: 51px;
	 z-index:55;
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	 font-size: 28px;
	color:#25eda9;
}
 #layer_12347 > strong
{ 
	color: #fff;
	font-weight:normal;
	font-size: 42px;
}

 #ccmvcmrcopy 
{ 
	 left: 138px; 
	 top: 635px; 
	 position: absolute; 
	 width: 752px;
	 height: 287px;
	 z-index:56;
} 

 #ccmvcmrcopy2 
{ 
	 left: 138px; 
	 top: 936px; 
	 position: absolute; 
	 width: 752px;
	 height: 444px;
	 z-index:57;
} 

 #Layer12 
{ 
	 left: 158px; 
	 top: 814px; 
	 position: absolute; 
	 width: 98px;
	 height: 58px;
	 z-index:58;
} 

 #Layer13 
{ 
	 left: 303px; 
	 top: 721px; 
	 position: absolute; 
	 width: 93px;
	 height: 151px;
	 z-index:59;
} 

 #Layer14 
{ 
	 left: 432px; 
	 top: 833px; 
	 position: absolute; 
	 width: 93px;
	 height: 39px;
	 z-index:60;
} 

 #Lessthan2KGs 
{ 
	 left: 159px; 
	 top: 790px; 
	 position: absolute; 
	 width: 121px;
	 height: 10px;
	 z-index:61;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
} 

 #23KGs 
{ 
	 left: 322px; 
	 top: 705px; 
	 position: absolute; 
	 width: 52px;
	 height: 9px;
	 z-index:62;
} 

 #Morethan2KGs 
{ 
	 left: 431px; 
	 top: 807px; 
	 position: absolute; 
	 width: 127px;
	 height: 10px;
	 z-index:63;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
} 

 #layer_2315 
{ 
	 left: 166px; 
	 top: 837px; 
	 position: absolute; 
	 width: 79px;
	 height: 24px;
	 z-index:64;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #fff;
}
#layer_2315 > strong 
{
	font-size:25px;
}

 #layer_11477 
{ 
	 left: 334px; 
	 top: 766px; 
	 position: absolute; 
	 width: 46px;
	 height: 40px;
	 z-index:65;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #fff;
}
#layer_11477 > strong 
{
	margin-left: -10px;
	font-size:30px;
}

 #Weightcomparisions 
{ 
	 left: 267px; 
	 top: 665px; 
	 position: absolute; 
	 width: 324px;
	 height: 22px;
	 z-index:66;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
} 

 #layer_188 
{ 
	 left: 446px; 
	 top: 837px; 
	 position: absolute; 
	 width: 69px;
	 height: 24px;
	 z-index:67;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #fff;
}
#layer_188 > strong 
{
	font-size:28px;
}

 #Childwieghtismonitor 
{ 
	 left: 555px; 
	 top: 772px; 
	 position: absolute; 
	 width: 318px;
	 height: 97px;
	 z-index:68;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
} 

 #Layer15 
{ 
	 left: 374px; 
	 top: 965px; 
	 position: absolute; 
	 width: 67px;
	 height: 76px;
	 z-index:69;
} 

 #Layer1copy_0 
{ 
	 left: 446px; 
	 top: 966px; 
	 position: absolute; 
	 width: 67px;
	 height: 77px;
	 z-index:70;
} 

 #Layer1copy2_0 
{ 
	 left: 519px; 
	 top: 968px; 
	 position: absolute; 
	 width: 67px;
	 height: 76px;
	 z-index:71;
} 

 #Layer1copy6 
{ 
	 left: 590px; 
	 top: 968px; 
	 position: absolute; 
	 width: 67px;
	 height: 76px;
	 z-index:72;
} 

 #Layer1copy7 
{ 
	 left: 626px; 
	 top: 1030px; 
	 position: absolute; 
	 width: 68px;
	 height: 77px;
	 z-index:73;
} 

 #Layer1copy8 
{ 
	 left: 663px; 
	 top: 968px; 
	 position: absolute; 
	 width: 67px;
	 height: 76px;
	 z-index:74;
} 

 #Layer1copy3 
{ 
	 left: 409px; 
	 top: 1027px; 
	 position: absolute; 
	 width: 67px;
	 height: 76px;
	 z-index:75;
} 

 #Layer1copy4 
{ 
	 left: 482px; 
	 top: 1029px; 
	 position: absolute; 
	 width: 68px;
	 height: 77px;
	 z-index:76;
} 

 #Layer1copy5 
{ 
	 left: 554px; 
	 top: 1031px; 
	 position: absolute; 
	 width: 68px;
	 height: 77px;
	 z-index:77;
} 

 #Layer1copy9 
{ 
	 left: 696px; 
	 top: 1032px; 
	 position: absolute; 
	 width: 68px;
	 height: 77px;
	 z-index:78;
} 

 #Layer1copy10 
{ 
	 left: 733px; 
	 top: 970px; 
	 position: absolute; 
	 width: 67px;
	 height: 76px;
	 z-index:79;
} 

 #Layer1copy11 
{ 
	 left: 804px; 
	 top: 972px; 
	 position: absolute; 
	 width: 67px;
	 height: 76px;
	 z-index:80;
} 

 #Layer1copy12 
{ 
	 left: 767px; 
	 top: 1034px; 
	 position: absolute; 
	 width: 68px;
	 height: 77px;
	 z-index:81;
} 

 #Layer1copy13 
{ 
	 left: 339px; 
	 top: 1026px; 
	 position: absolute; 
	 width: 67px;
	 height: 76px;
	 z-index:82;
} 

 #COUGHING24 
{ 
	 left: 374px; 
	 top: 985px; 
	 position: absolute; 
	 width: 63px;
	 height: 45px;
	 z-index:83;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size: 12px;
}
 #COUGHING24 > strong
{ 
	margin-left: 20px;
	font-size: 20px;
}


 #DIARRHEA33 
{ 
	 left: 448px; 
	 top: 985px; 
	 position: absolute; 
	 width: 60px;
	 height: 49px;
	 z-index:84;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size: 12px;
}
 #DIARRHEA33 > strong
{ 
	margin-left: 20px;
	font-size: 20px;
} 

 #FEVER12 
{ 
	 left: 533px; 
	 top: 984px; 
	 position: absolute; 
	 width: 35px;
	 height: 49px;
	 z-index:85;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size: 12px;
}
 #FEVER12 > strong
{ 
	margin-left: 20px;
	font-size: 20px;
}

 #MALARIA09 
{ 
	 left: 415px; 
	 top: 1046px; 
	 position: absolute; 
	 width: 53px;
	 height: 48px;
	 z-index:86;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size: 12px;
}
 #MALARIA09 > strong
{ 
	margin-left: 20px;
	font-size: 20px;
}

 #VOMITING18 
{ 
	 left: 485px; 
	 top: 1049px; 
	 position: absolute; 
	 width: 59px;
	 height: 48px;
	 z-index:87;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size: 11px;
}
 #VOMITING18 > strong
{ 
	margin-left: 20px;
	font-size: 20px;
} 

 #STILLBORN21 
{ 
	 left: 554px; 
	 top: 1049px; 
	 position: absolute; 
	 width: 65px;
	 height: 48px;
	 z-index:88;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size: 12px;
}
 #STILLBORN21 > strong
{ 
	margin-left: 20px;
	font-size: 20px;
} 

 #EDEMA13 
{ 
	 left: 601px; 
	 top: 987px; 
	 position: absolute; 
	 width: 42px;
	 height: 48px;
	 z-index:89;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size: 12px;
}
 #EDEMA13 > strong
{ 
	margin-left: 20px;
	font-size: 20px;
} 

 #JAUNDICE09 
{ 
	 left: 627px; 
	 top: 1049px; 
	 position: absolute; 
	 width: 58px;
	 height: 49px;
	 z-index:90;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size: 12px;
}
 #JAUNDICE09 > strong
{ 
	margin-left: 20px;
	font-size: 20px;
}

 #PNEUMONIA21 
{ 
	 left: 662px; 
	 top: 990px; 
	 position: absolute; 
	 width: 71px;
	 height: 48px;
	 z-index:91;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size: 10px;
}
 #PNEUMONIA21 > strong
{ 
	margin-left: 20px;
	font-size: 20px;
} 

 #DISABILITY21 
{ 
	 left: 733px; 
	 top: 990px; 
	 position: absolute; 
	 width: 62px;
	 height: 48px;
	 z-index:92;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size: 12px;
}
 #DISABILITY21 > strong
{ 
	margin-left: 20px;
	font-size: 20px;
} 

 #HYPOTHEMIA21 
{ 
	 left: 695px; 
	 top: 1053px; 
	 position: absolute; 
	 width: 62px;
	 height: 46px;
	 z-index:93;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size: 10px;
}
 #HYPOTHEMIA21 > strong
{ 
	margin-left: 20px;
	font-size: 20px;
} 

 #CLEFTPALATE21 
{ 
	 left: 786px; 
	 top: 1045px; 
	 position: absolute; 
	 width: 35px;
	 height: 58px;
	 z-index:94;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size: 10px;
}
 #CLEFTPALATE21 > strong
{ 
	margin-left: 5px;
	font-size: 20px;
} 

 #CORDINFECTION 
{ 
	 left: 816px; 
	 top: 984px; 
	 position: absolute; 
	 width: 46px;
	 height: 56px;
	 z-index:95;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size: 10px;
}
 #CORDINFECTION > strong
{ 
	margin-left: 10px;
	font-size: 20px;
} 

 #NECKSTIFFNESS 
{ 
	 left: 351px; 
	 top: 1044px; 
	 position: absolute; 
	 width: 48px;
	 height: 44px;
	 z-index:96;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size: 10px;
}
 #NECKSTIFFNESS > strong
{ 
	margin-left: 10px;
	font-size: 20px;
}  

 #Layer16 
{ 
	 left: 153px; 
	 top: 972px; 
	 position: absolute; 
	 width: 187px;
	 height: 97px;
	 z-index:97;
} 

 #symptoms 
{ 
	 left: 170px; 
	 top: 1015px; 
	 position: absolute; 
	 width: 124px;
	 height: 26px;
	 z-index:98;
} 

 #Layer17 
{ 
	 left: 210px; 
	 top: 1183px; 
	 position: absolute; 
	 width: 144px;
	 height: 143px;
	 z-index:99;
} 

 #Layer18 
{ 
	 left: 246px; 
	 top: 1223px; 
	 position: absolute; 
	 width: 83px;
	 height: 93px;
	 z-index:100;
} 

 #layer_12 
{ 
	 left: 622px; 
	 top: 1282px; 
	 position: absolute; 
	 width: 24px;
	 height: 16px;
	 z-index:101;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
} 

 #layer_54 
{ 
	 left: 520px; 
	 top: 1282px; 
	 position: absolute; 
	 width: 25px;
	 height: 16px;
	 z-index:102;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
} 

 #layer_98 
{ 
	 left: 390px; 
	 top: 1282px; 
	 position: absolute; 
	 width: 25px;
	 height: 16px;
	 z-index:103;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
} 

 #high 
{ 
	 left: 604px; 
	 top: 1251px; 
	 position: absolute; 
	 width: 83px;
	 height: 73px;
	 z-index:104;
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	font-size: 12px;
}
 #high > strong
{ 
font-size: 20px;
	font-weight: normal;
}  

 #low 
{ 
	 left: 505px; 
	 top: 1252px; 
	 position: absolute; 
	 width: 125px;
	 height: 17px;
	 z-index:105;
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	font-size: 12px;
}
 #low > strong
{ 
	font-size: 20px;
	font-weight: normal;
}

 #normal 
{ 
	 left: 363px; 
	 top: 1251px; 
	 position: absolute; 
	 width: 116px;
	 height: 18px;
	 z-index:106;
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	font-size: 12px;
}
 #normal > strong
{ 
	font-size: 20px;
	font-weight: normal;
}

 #avg29 
{ 
	 left: 361px; 
	 top: 1223px; 
	 position: absolute; 
	 width: 139px;
	 height: 23px;
	 z-index:107;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
} 

 #MAUC 
{ 
	 left: 255px; 
	 top: 1195px; 
	 position: absolute; 
	 width: 66px;
	 height: 17px;
	 z-index:108;
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	font-size: 20px;
	color:#fff;
} 

 #Layer19 
{ 
	 left: 146px; 
	 top: 1441px; 
	 position: absolute; 
	 width: 723px;
	 height: 215px;
	 z-index:109;
} 

 #Layer20 
{ 
	 left: 0px; 
	 top: 1745px; 
	 position: absolute; 
	 width: 1000px;
	 height: 6px;
	 z-index:110;
} 

 #ContactUsReachouttou 
{ 
	 left: 282px; 
	 top: 1796px; 
	 position: absolute; 
	 width: 162px;
	 height: 171px;
	 z-index:111;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
} 

 #FollowusonSocialNetw 
{ 
	 left: 546px; 
	 top: 1805px; 
	 position: absolute; 
	 width: 183px;
	 height: 58px;
	 z-index:112;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
}
 #ContactUsReachouttou > strong
{ 
	font-size: 15px;
}
 #FollowusonSocialNetw > strong
{ 
	font-size: 15px;
} 

 #Layer21 
{ 
	 left: 546px; 
	 top: 1879px; 
	 position: absolute; 
	 width: 99px;
	 height: 28px;
	 z-index:113;
} 

 #Layer22 
{ 
	 left: 519px; 
	 top: 1932px; 
	 position: absolute; 
	 width: 119px;
	 height: 28px;
	 z-index:114;
} 

 #Layer23 
{ 
	 left: 381px; 
	 top: 1725px; 
	 position: absolute; 
	 width: 262px;
	 height: 64px;
	 z-index:115;
} 

 #Layer24 
{ 
	 left: 664px; 
	 top: 1900px; 
	 position: absolute; 
	 width: 62px;
	 height: 64px;
	 z-index:116;
} 
