  html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote,

h1{font-size:14px;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold; 
color:#000;
}
h2 {font-size:12px;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
color:#000; 
}
h3{font-size:10px;
font-family:Arial, Helvetica, sans-serif;
color:#000
}
h4{font-size:10px;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold; 
}

h5{font-size:20px;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold; }


body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1000PX;
	 height: 1366px; 
	 overflow: hidden;
	 z-index:0;
	

	} 

 #Layer1 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 100%;
	 height: auto;
	 z-index:1;
	  background: url(images/Layer1.png) repeat-x;
	 	 

} 

 #Layer2copy8 
{ 
	 left: 329px; 
	 top: 24px; 
	 position: absolute; 
	 width: 105px;
	 height: 30px;
	 z-index:2;
	 
	 
} 

 #Layer2copy12 
{ 
	 left: 519px; 
	 top: 24px; 
	 position: absolute; 
	 width: 117px;
	 height: 30px;
	 z-index:3;
} 

 #Layer2copy14 
{ 
	 left: 855px; 
	 top: 24px; 
	 position: absolute; 
	 width: 94px;
	 height: 30px;
	 z-index:4;
} 

 #Layer2copy13 
{ 
	 left: 643px; 
	 top: 24px; 
	 position: absolute; 
	 width: 204px;
	 height: 30px;
	 z-index:5;
} 

 #Layer2copy11 
{ 
	 left: 437px; 
	 top: 24px; 
	 position: absolute; 
	 width: 77px;
	 height: 30px;
	 z-index:6;
} 

 #Layer2copy9 
{ 
	 left: 137px; 
	 top: 24px; 
	 position: absolute; 
	 width: 94px;
	 height: 30px;
	 z-index:7;
} 

 #Layer2copy8 
{ 
	 left: 237px; 
	 top: 24px; 
	 position: absolute; 
	 width: 83px;
	 height: 30px;
	 z-index:8;
} 
 #Layer2copy8:hover
{ 
	background-color: #ffffff;
	opacity: 0.7;
	border-radius: 25px;
	cursor: pointer;
}
 #Layer2copy12:hover
{ 
	background-color: #ffffff;
	opacity: 0.7;
	border-radius: 25px;
	cursor: pointer;
}
 #Layer2copy14:hover
{ 
	background-color: #ffffff;
	opacity: 0.7;
	border-radius: 25px;
	cursor: pointer;
}
 #Layer2copy13:hover
{ 
	background-color: #ffffff;
	opacity: 0.7;
	border-radius: 25px;
	cursor: pointer;
}
 #Layer2copy11:hover
{ 
	background-color: #ffffff;
	opacity: 0.7;
	border-radius: 25px;
	cursor: pointer;
}
 #Layer2copy9:hover
{ 
	background-color: #ffffff;
	opacity: 0.7;
	border-radius: 25px;
	cursor: pointer;
}
 #Layer2copy10:hover
{ 
	background-color: #ffffff;
	opacity: 0.7;
	border-radius: 25px;
	cursor: pointer;
}

 #bgbannerimg 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 100%;
	 height: 242px;
	 z-index:9;
	 
	 background: url(images/bgbannerimg.png) repeat-x;
} 

 #uniceflogotop 
{ 
	 left: 145px; 
	 top: 153px; 
	 position: absolute; 
	 width: 117px;
	 height: 28px;
	 z-index:10;
} 

 #Exclamationmark 
{ 
	 left: 739px; 
	 top: 77px; 
	 position: absolute; 
	 width: 150px;
	 height: 153px;
	 z-index:11;
} 

 #AttendingtoMothersin 
{ 
	 left: 356px; 
	 top: 97px; 
	 position: absolute; 
	 width: 230px;
	 height: 78px;
	 z-index:12;
} 

 #pinkbannerimg 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 100%;
	 height: 2px;
	 z-index:13;
	 background: url(images/pinkbannerimg.png) repeat-x;
} 

 #topimg 
{ 
	 left: 0px; 
	 top: 1px; 
	 position: absolute; 
	 width: 100%;
	 height: 25px;
	 z-index:14;
	 
	  background: url(images/topimg.png) repeat-x;
} 

 #ENGLISH 
{ 
	 left: 690px; 
	 top: 11px; 
	 position: absolute; 
	 width: 35px;
	 height: 6px;
	 z-index:15;
	 
	 font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 10px;
} 

 #FRENCH 
{ 
	 left: 836px; 
	 top: 11px; 
	 position: absolute; 
	 width: 34px;
	 height: 6px;
	 z-index:16;
	 
	 font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 10px;
} 

 #KINYARWANDA 
{ 
	 left: 749px; 
	 top: 11px; 
	 position: absolute; 
	 width: 65px;
	 height: 6px;
	 z-index:17;
	 
	 font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 10px;
} 

 #rapidsmslogotop 
{ 
	 left: 141px; 
	 top: 74px; 
	 position: absolute; 
	 width: 118px;
	 height: 54px;
	 z-index:18;
} 

 #menubgimg 
{ 
	 left: 138px; 
	 top: 25px; 
	 position: absolute; 
	 width: 813px;
	 height: 30px;
	 z-index:19;
} 

 #Layer7 
{ 
	 left: 200px; 
	 top: 25px; 
	 position: absolute; 
	 width: 592px;
	 height: 30px;
	 z-index:20;
} 

 #bannerseparatorimg 
{ 
	 left: 233px; 
	 top: 32px; 
	 position: absolute; 
	 width: 622px;
	 height: 16px;
	 z-index:21;
} 

 #PregnanciesNewBornCh 
{
	left: 149px;
	top: 34px;
	position: absolute;
	width: 781px;
	height: 14px;
	z-index:22;
} 

 #filterbgimg 
{ 
	 left: 0px; 
	 top: 242px; 
	 position: absolute; 
	 width: 100%;
	 height: 62px;
	 z-index:23;
	 
	  background: url(images/filterbgimg.png) repeat-x;
} 

 #filtersection 
{ 
	 left: 654px; 
	 top: 264px; 
	 position: absolute; 
	 width: 206px;
	 height: 21px;
	 z-index:24;
} 

 #Layer10 
{ 
	 left: 840px; 
	 top: 265px; 
	 position: absolute; 
	 width: 20px;
	 height: 19px;
	 z-index:25;
} 

 #SelectHealthCare 
{ 
	 left: 677px; 
	 top: 268px; 
	 position: absolute; 
	 width: 126px;
	 height: 12px;
	 z-index:26;
} 

 #locationimg 
{ 
	 left: 631px; 
	 top: 263px; 
	 position: absolute; 
	 width: 15px;
	 height: 22px;
	 z-index:27;
} 

 #filter2 
{ 
	 left: 427px; 
	 top: 262px; 
	 position: absolute; 
	 width: 196px;
	 height: 23px;
	 z-index:28;
} 

 #filter1 
{ 
	 left: 184px; 
	 top: 263px; 
	 position: absolute; 
	 width: 207px;
	 height: 23px;
	 z-index:29;
} 

 #From 
{ 
	 left: 136px; 
	 top: 269px; 
	 position: absolute; 
	 width: 39px;
	 height: 11px;
	 z-index:30;
	 	 font-family: 'Open Sans', sans-serif;
} 

 #calendarimg 
{ 
	 left: 95px; 
	 top: 261px; 
	 position: absolute; 
	 width: 23px;
	 height: 26px;
	 z-index:31;
} 

 #To 
{ 
	 left: 399px; 
	 top: 267px; 
	 position: absolute; 
	 width: 21px;
	 height: 11px;
	 z-index:32;
	  font-family: 'Open Sans', sans-serif;
} 

 #Layer7copy2 
{ 
	 left: 70px; 
	 top: 337px; 
	 position: absolute; 
	 width: 848px;
	 height: 284px;
	 z-index:33;
} 

 #NumberofRedAlertRepo 
{ 
	 left: 321px; 
	 top: 361px; 
	 position: absolute; 
	 width: 159px;
	 height: 49px;
	 z-index:34;
} 

 #PatientDirectlyRefer 
{ 
	 left: 266px; 
	 top: 480px; 
	 position: absolute; 
	 width: 253px;
	 height: 22px;
	 z-index:35;
} 

 #ASMAdvice 
{ 
	 left: 625px; 
	 top: 482px; 
	 position: absolute; 
	 width: 120px;
	 height: 17px;
	 z-index:36;
} 

 #RedAlertResults 
{ 
	 left: 450px; 
	 top: 452px; 
	 position: absolute; 
	 width: 174px;
	 height: 17px;
	 z-index:37;
} 

 #543cercle 
{ 
	 left: 507px; 
	 top: 355px; 
	 position: absolute; 
	 width: 84px;
	 height: 84px;
	 z-index:38;
} 

 #layer_543 
{ 
	 left: 515px; 
	 top: 379px; 
	 position: absolute; 
	 width: 60px;
	 height: 31px;
	 z-index:39;
	  font-family:"Open Sans";
	font-size:16px;
	font-weight:bold;
	color:#000;
} 

 #121circle 
{ 
	 left: 640px; 
	 top: 520px; 
	 position: absolute; 
	 width: 89px;
	 height: 91px;
	 z-index:40;
} 

 #layer_121 
{ 
	 left: 654px; 
	 top: 543px; 
	 position: absolute; 
	 width: 64px;
	 height: 42px;
	 z-index:41;
} 

 #333circle 
{ 
	 left: 347px; 
	 top: 521px; 
	 position: absolute; 
	 width: 86px;
	 height: 87px;
	 z-index:42;
} 

 #layer_333 
{ 
	 left: 355px; 
	 top: 547px; 
	 position: absolute; 
	 width: 62px;
	 height: 32px;
	 z-index:43;
} 

 #Layer739 
{ 
	 left: 69px; 
	 top: 641px; 
	 position: absolute; 
	 width: 847px;
	 height: 215px;
	 z-index:44;
} 

 #Layer1_0 
{ 
	 left: 222px; 
	 top: 664px; 
	 position: absolute; 
	 width: 252px;
	 height: 131px;
	 z-index:45;
} 

 #Layer2 
{ 
	 left: 472px; 
	 top: 656px; 
	 position: absolute; 
	 width: 333px;
	 height: 189px;
	 z-index:46;
} 

 #COUGHING24 
{ 
	 left: 520px; 
	 top: 681px; 
	 position: absolute; 
	 width: 85px;
	 height: 60px;
	 z-index:47;
} 

 #DIARRHEA33 
{ 
	 left: 621px; 
	 top: 681px; 
	 position: absolute; 
	 width: 78px;
	 height: 66px;
	 z-index:48;
} 

 #FEVER12 
{ 
	 left: 734px; 
	 top: 680px; 
	 position: absolute; 
	 width: 47px;
	 height: 65px;
	 z-index:49;
} 

 #MALARIA09 
{ 
	 left: 576px; 
	 top: 763px; 
	 position: absolute; 
	 width: 70px;
	 height: 65px;
	 z-index:50;
} 

 #VOMITING18 
{ 
	 left: 669px; 
	 top: 767px; 
	 position: absolute; 
	 width: 79px;
	 height: 65px;
	 z-index:51;
} 

 #NECKSTIFFNESS 
{ 
	 left: 489px; 
	 top: 761px; 
	 position: absolute; 
	 width: 63px;
	 height: 59px;
	 z-index:52;
} 

 #RedAlertReportSympto 
{ 
	 left: 241px; 
	 top: 683px; 
	 position: absolute; 
	 width: 146px;
	 height: 102px;
	 z-index:53;
	 
	  font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 20px;
	color:#FFF;
} 

 #Layer73939 
{ 
	 left: 69px; 
	 top: 894px; 
	 position: absolute; 
	 width: 848px;
	 height: 171px;
	 z-index:54;
} 

 #AmbulanceResponseOnt 
{ 
	 left: 443px; 
	 top: 1027px; 
	 position: absolute; 
	 width: 4px;
	 height: 13px;
	 z-index:55;
	  
} 

 #layer_20 
{
	left: 429px;
	top: 1022px;
	position: absolute;
	width: 34px;
	height: 23px;
	z-index:56;
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 18px;
	color:#333;
} 

 #layer_43 
{
	left: 345px;
	top: 983px;
	position: absolute;
	width: 35px;
	height: 23px;
	z-index:57;
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 18px;
	color:#333;
} 

 #layer_90 
{
	left: 383px;
	top: 947px;
	position: absolute;
	width: 34px;
	height: 23px;
	z-index:58;
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 18px;
	color:#333;
} 

 #noresponse 
{ 
	 left: 286px; 
	 top: 1022px; 
	 position: absolute; 
	 width: 148px;
	 height: 24px;
	 z-index:59;
	 
	  font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 18px;
	color:#333;
} 

 #ontime 
{ 
	 left: 285px; 
	 top: 946px; 
	 position: absolute; 
	 width: 107px;
	 height: 18px;
	 z-index:60;
	 
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 18px;
	color:#333;

} 

 #ambulanceresponse 
{ 
	 left: 284px; 
	 top: 907px; 
	 position: absolute; 
	 width: 267px;
	 height: 25px;
	 z-index:61;
	 
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 20px;
	color:#333;

} 

 #late 
{ 
	 left: 286px; 
	 top: 984px; 
	 position: absolute; 
	 width: 61px;
	 height: 18px;
	 z-index:62;
	 
	 font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 18px;
	color:#333;
} 

 #noresponse1 
{ 
	 left: 664px; 
	 top: 1017px; 
	 position: absolute; 
	 width: 199px;
	 height: 29px;
	 z-index:63;
	 
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 18px;
	color:#333;
} 

 #late1 
{ 
	 left: 664px; 
	 top: 979px; 
	 position: absolute; 
	 width: 123px;
	 height: 23px;
	 z-index:64;
	 
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 18px;
	color:#333;
} 

 #ontime1 
{ 
	 left: 663px; 
	 top: 941px; 
	 position: absolute; 
	 width: 163px;
	 height: 23px;
	 z-index:65;
	 
	 font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 18px;
	color:#333;
} 

 #chwresponse 
{ 
	 left: 663px; 
	 top: 908px; 
	 position: absolute; 
	 width: 191px;
	 height: 24px;
	 z-index:66;
	 
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 18px;
	color:#333;
} 

 #mobilefoneimg 
{ 
	 left: 597px; 
	 top: 927px; 
	 position: absolute; 
	 width: 39px;
	 height: 79px;
	 z-index:67;
} 

 #ambulanceimg 
{ 
	 left: 153px; 
	 top: 907px; 
	 position: absolute; 
	 width: 132px;
	 height: 88px;
	 z-index:68;
} 

 #footerseparatorimg 
{ 
	 left: 0px; 
	 top: 1129px; 
	 position: absolute; 
	 width: 994px;
	 height: 6px;
	 z-index:69;
} 

 #ContactUsReachouttou 
{ 
	 left: 276px; 
	 top: 1179px; 
	 position: absolute; 
	 width: 160px;
	 height: 169px;
	 z-index:70;
} 

 #FollowusonSocialNetw 
{ 
	 left: 537px; 
	 top: 1188px; 
	 position: absolute; 
	 width: 182px;
	 height: 58px;
	 z-index:71;
} 

 #socialmedias 
{ 
	 left: 538px; 
	 top: 1262px; 
	 position: absolute; 
	 width: 97px;
	 height: 28px;
	 z-index:72;
} 

 #uniceflogo 
{ 
	 left: 510px; 
	 top: 1314px; 
	 position: absolute; 
	 width: 118px;
	 height: 28px;
	 z-index:73;
} 

 #rapidsmsimg 
{ 
	 left: 374px; 
	 top: 1109px; 
	 position: absolute; 
	 width: 259px;
	 height: 63px;
	 z-index:74;
} 

 #embremimg 
{ 
	 left: 654px; 
	 top: 1282px; 
	 position: absolute; 
	 width: 62px;
	 height: 64px;
	 z-index:75;
} 
