 body {
	margin: 0;
	padding: 0;
 }
 
 a{
	color: #000;
 	text-decoration:none;
 	cursor: pointer;
 }
 a:hover{
	color:#fff;
 }

 #Layer1 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1000px;
	 height: 1213px;
	 z-index:2;
} 

 #Layer2 
{ 
	background: url(images/Layer2.png) repeat-x;
	 bottom: 0px; 
	 position: absolute; 
	 width: 100%;
	 height: 50px;
	 z-index:3;
} 

 #Layer3 
{ 
	 right: 0px; 
	 bottom: 20px; 
	 position: absolute; 
	 width: 123px;
	 height: 29px;
	 z-index:4;
} 

 #Layer4 
{ 
	 right: 150px; 
	 bottom: 20px; 
	 position: absolute; 
	 width: 65px;
	 height: 65px;
	 z-index:5;
} 

 #Layer5 
{ 
	 left: 40%; 
	 top: 300px; 
	 position: absolute; 
	 max-width: 299px;
	 max-height: 210px;
	 z-index:6;
} 

 #username 
{ 
	 left: 41%; 
	 top: 380px; 
	 position: absolute; 
	 width: 328px;
	 height: 36px;
	 z-index:7;
} 

 #password 
{ 
	 left: 41%; 
	 top: 430px; 
	 position: absolute; 
	 width: 327px;
	 height: 36px;
	 z-index:8;
} 

 #button 
{ 
	 left: 46%; 
	 top: 470px; 
	 position: absolute; 
	 width: 192px;
	 height: 80px;
	 z-index:9;
	
} 

 #LOGIN 
{ 
	 left: 47.5%; 
	 top: 478px; 
	 position: absolute; 
	 width: 166px;
	 height: 43px;
	 z-index:10;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 20px;
} 

 #Layer7 
{ 
	 left: 403px; 
	 top: 325px; 
	 position: absolute; 
	 width: 243px;
	 height: 112px;
	 z-index:11;
} 

 #Layer1copy 
{ 
	background: url(images/banner_background.png) repeat-x;
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 100%;
	 height: 130px;
	 z-index:12;
} 

 #preg 
{ 
	 left: 560px; 
	 top: 30px; 
	 position: absolute; 
	 width: 135px;
	 height: 138px;
	 z-index:13;
} 

 #newborn 
{ 
	 left: 475px; 
	 top: 30px; 
	 position: absolute; 
	 width: 92px;
	 height: 127px;
	 z-index:14;
} 

 #pnc 
{ 
	 left: 306px; 
	 top: 30px; 
	 position: absolute; 
	 width: 155px;
	 height: 151px;
	 z-index:15;
} 

 #Exclamationmark 
{ 
	 left: 735px; 
	 top: 30px; 
	 position: absolute; 
	 width: 100px;
	 height: 101px;
	 z-index:16;
}

 #ccm 
{ 
	 left: 395px; 
	 top: 30px; 
	 position: absolute; 
	 width: 100px;
	 height: 101px;
	 z-index:16;
}

 #Layer11 
{ 
	 left: 141px; 
	 top: 156px; 
	 position: absolute; 
	 width: 118px;
	 height: 28px;
	 z-index:17;
} 

 #feeding 
{ 
	 left: 644px; 
	 top: 30px; 
	 position: absolute; 
	 width: 137px;
	 height: 142px;
	 z-index:18;
} 

 #Layer18copy8 
{ 
	background: url(images/Layer18copy8.png) repeat-x;
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 100%;
	 height: 3px;
	 z-index:19;
} 

 #Layer19copy8 
{ 
	background: url(images/Layer19copy8.png) repeat-x;
	 left: 0px; 
	 top: 2px; 
	 position: absolute; 
	 width: 100%;
	 height: 26px;
	 z-index:20;
} 

 #ENGLISH 
{ 
	 left: 686px; 
	 top: 12px; 
	 position: absolute; 
	 width: 36px;
	 height: 7px;
	 z-index:21;
} 

 #FRENCH 
{ 
	 left: 834px; 
	 top: 12px; 
	 position: absolute; 
	 width: 34px;
	 height: 7px;
	 z-index:22;
} 

 #KINYARWANDA 
{ 
	 left: 746px; 
	 top: 12px; 
	 position: absolute; 
	 width: 66px;
	 height: 7px;
	 z-index:23;
} 

 #rapid 
{ 
	 left: 135px; 
	 top: 50px; 
	 position: absolute; 
	 width: 119px;
	 height: 55px;
	 z-index:24;
} 
