 body {
	margin: 0;
	padding: 0;
 }
 a{
	color: #000;
 	text-decoration:none;
 	cursor: pointer;
 }
 a:hover{
	color:#fff;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1000px;
	 height: 1764px; 
	 overflow: hidden;
	 z-index:0;
	}

 #wrap 
{ 
	
    left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1000px;
	 height: 1764px; 
	 overflow: hidden;
	 
	 
	}

 #Background 
{ 
	background: url(images/Background.png) repeat-x;
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 100%;
	 height: 1764px;
	 z-index:1;
} 

 #Layer22 
{ 
	 left: 3px; 
	 top: 1505px; 
	 position: absolute; 
	 width: 997px;
	 height: 7px;
	 z-index:2;
} 

 #ContactUsReachouttou 
{ 
	 left: 283px; 
	 top: 1556px; 
	 position: absolute; 
	 width: 161px;
	 height: 170px;
	 z-index:3;
		font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	
} 

 #FollowusonSocialNetw 
{ 
	 left: 546px; 
	 top: 1565px; 
	 position: absolute; 
	 width: 182px;
	 height: 58px;
	 z-index:4;
		font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	
}
 #ContactUsReachouttou > strong
{ 
	font-size: 15px;
}
 #FollowusonSocialNetw > strong
{ 
	font-size: 15px;
}

 #Layer23 
{ 
	 left: 546px; 
	 top: 1639px; 
	 position: absolute; 
	 width: 98px;
	 height: 28px;
	 z-index:5;
} 

 #Layer24 
{ 
	 left: 519px; 
	 top: 1691px; 
	 position: absolute; 
	 width: 118px;
	 height: 28px;
	 z-index:6;
} 

 #Layer25 
{ 
	 left: 382px; 
	 top: 1485px; 
	 position: absolute; 
	 width: 260px;
	 height: 64px;
	 z-index:7;
} 

 #Layer26 
{ 
	 left: 663px; 
	 top: 1659px; 
	 position: absolute; 
	 width: 62px;
	 height: 64px;
	 z-index:8;
} 

 #ccmvcmrcopy2 
{ 
	 left: 145px; 
	 top: 1142px; 
	 position: absolute; 
	 width: 716px;
	 height: 310px;
	 z-index:9;
} 

 #Layer4 
{ 
	 left: 573px; 
	 top: 1231px; 
	 position: absolute; 
	 width: 172px;
	 height: 163px;
	 z-index:10;
} 

 #ANCVISIT 
{ 
	 left: 590px; 
	 top: 1301px; 
	 position: absolute; 
	 width: 132px;
	 height: 19px;
	 z-index:11;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: bold;
} 

 #Layer5 
{ 
	 left: 690px; 
	 top: 1243px; 
	 position: absolute; 
	 width: 64px;
	 height: 58px;
	 z-index:12;
} 

 #ANC443 
{ 
	 left: 702px; 
	 top: 1259px; 
	 position: absolute; 
	 width: 51px;
	 height: 10px;
	 z-index:13;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color:#fff;
} 

 #layer_43 
{ 
	 left: 712px; 
	 top: 1279px; 
	 position: absolute; 
	 width: 25px;
	 height: 13px;
	 z-index:14;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color:#fff;
} 

 #Layer6 
{ 
	 left: 698px; 
	 top: 1320px; 
	 position: absolute; 
	 width: 72px;
	 height: 73px;
	 z-index:15;
} 

 #ANC369 
{ 
	 left: 709px; 
	 top: 1341px; 
	 position: absolute; 
	 width: 50px;
	 height: 12px;
	 z-index:16;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color:#fff;
} 

 #layer_69 
{ 
	 left: 724px; 
	 top: 1360px; 
	 position: absolute; 
	 width: 28px;
	 height: 16px;
	 z-index:17;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color:#fff;
} 

 #Layer7 
{ 
	 left: 568px; 
	 top: 1347px; 
	 position: absolute; 
	 width: 91px;
	 height: 93px;
	 z-index:18;
} 

 #ANC267 
{ 
	 left: 583px; 
	 top: 1374px; 
	 position: absolute; 
	 width: 60px;
	 height: 14px;
	 z-index:19;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color:#fff;
} 

 #layer_67 
{ 
	 left: 598px; 
	 top: 1400px; 
	 position: absolute; 
	 width: 32px;
	 height: 19px;
	 z-index:20;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color:#fff;
} 

 #Layer8 
{ 
	 left: 503px; 
	 top: 1249px; 
	 position: absolute; 
	 width: 92px;
	 height: 92px;
	 z-index:21;
} 

 #ANC198 
{ 
	 left: 519px; 
	 top: 1277px; 
	 position: absolute; 
	 width: 58px;
	 height: 14px;
	 z-index:22;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color:#fff;
} 

 #layer_98 
{ 
	 left: 533px; 
	 top: 1304px; 
	 position: absolute; 
	 width: 32px;
	 height: 19px;
	 z-index:23;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color:#fff;
} 

 #Layer9 
{ 
	 left: 176px; 
	 top: 1241px; 
	 position: absolute; 
	 width: 242px;
	 height: 163px;
	 z-index:24;
} 

 #ANCATTENDANCE 
{ 
	 left: 213px; 
	 top: 1262px; 
	 position: absolute; 
	 width: 158px;
	 height: 13px;
	 z-index:25;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color:#fff;
} 

 #layer_72 
{ 
	 left: 296px; 
	 top: 1384px; 
	 position: absolute; 
	 width: 29px;
	 height: 10px;
	 z-index:26;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
} 

 #layer_21 
{ 
	 left: 267px; 
	 top: 1379px; 
	 position: absolute; 
	 width: 19px;
	 height: 15px;
	 z-index:27;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
} 

 #ANC4 
{ 
	 left: 214px; 
	 top: 1383px; 
	 position: absolute; 
	 width: 48px;
	 height: 11px;
	 z-index:28;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	
} 

 #layer_98_0 
{ 
	 left: 296px; 
	 top: 1361px; 
	 position: absolute; 
	 width: 29px;
	 height: 9px;
	 z-index:29;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
} 

 #layer_32 
{ 
	 left: 267px; 
	 top: 1356px; 
	 position: absolute; 
	 width: 22px;
	 height: 14px;
	 z-index:30;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
} 

 #ANC3 
{ 
	 left: 214px; 
	 top: 1359px; 
	 position: absolute; 
	 width: 48px;
	 height: 11px;
	 z-index:31;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	
} 

 #layer_31 
{ 
	 left: 296px; 
	 top: 1336px; 
	 position: absolute; 
	 width: 26px;
	 height: 10px;
	 z-index:32;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
} 

 #layer_54 
{ 
	 left: 267px; 
	 top: 1331px; 
	 position: absolute; 
	 width: 22px;
	 height: 15px;
	 z-index:33;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
} 

 #ANC2 
{ 
	 left: 214px; 
	 top: 1334px; 
	 position: absolute; 
	 width: 48px;
	 height: 12px;
	 z-index:34;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	
} 

 #layer_51 
{ 
	 left: 296px; 
	 top: 1312px; 
	 position: absolute; 
	 width: 25px;
	 height: 9px;
	 z-index:35;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
} 

 #layer_79 
{ 
	 left: 267px; 
	 top: 1307px; 
	 position: absolute; 
	 width: 22px;
	 height: 14px;
	 z-index:36;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	
} 

 #ANC1 
{ 
	 left: 214px; 
	 top: 1310px; 
	 position: absolute; 
	 width: 48px;
	 height: 11px;
	 z-index:37;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
} 

 #layer_60 
{ 
	 left: 336px; 
	 top: 1285px; 
	 position: absolute; 
	 width: 24px;
	 height: 8px;
	 z-index:38;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
} 

 #layer_74 
{ 
	 left: 214px; 
	 top: 1283px; 
	 position: absolute; 
	 width: 122px;
	 height: 14px;
	 z-index:39;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}
 #layer_74 > strong
{ 
	font-size:16px;
	font-weight:normal;
}

 #4outo4 
{ 
	 left: 214px; 
	 top: 1210px; 
	 position: absolute; 
	 width: 48px;
	 height: 11px;
	 z-index:37;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
} 

 #Layer1 
{ 
	 left: 255px; 
	 top: 1062px; 
	 position: absolute; 
	 width: 64px;
	 height: 40px;
	 z-index:41;
} 

 #Layer2 
{ 
	 left: 353px; 
	 top: 1000px; 
	 position: absolute; 
	 width: 64px;
	 height: 102px;
	 z-index:42;
} 

 #Layer3 
{ 
	 left: 440px; 
	 top: 1075px; 
	 position: absolute; 
	 width: 63px;
	 height: 27px;
	 z-index:43;
} 

 #Lessthan45KGs 
{ 
	 left: 246px; 
	 top: 1047px; 
	 position: absolute; 
	 width: 77px;
	 height: 7px;
	 z-index:44;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
} 

 #4565KGs 
{ 
	 left: 365px; 
	 top: 1047px; 
	 position: absolute; 
	 width: 76px;
	 height: 10px;
	 z-index:45;
} 

 #Morethan65KGs 
{ 
	 left: 430px; 
	 top: 1058px; 
	 position: absolute; 
	 width: 100px;
	 height: 7px;
	 z-index:46;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	
} 

 #layer_2315 
{ 
	 left: 258px; 
	 top: 1067px; 
	 position: absolute; 
	 width: 54px;
	 height: 17px;
	 z-index:47;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: lighter;
	color: #fff;
}
 #layer_2315 > strong
{ 
 font-weight: normal;
	font-size: 22px;
} 

 #layer_11477 
{ 
	 left: 367px; 
	 top: 1029px; 
	 position: absolute; 
	 width: 31px;
	 height: 28px;
	 z-index:48;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #fff;
}
 #layer_11477 > strong
{ 
 font-weight: normal;
 font-size: 24px;
} 

 #PregnanyMotherWeight 
{ 
	 left: 386px; 
	 top: 961px; 
	 position: absolute; 
	 width: 287px;
	 height: 16px;
	 z-index:49;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
} 

 #layer_188 
{ 
	 left: 450px; 
	 top: 1072px; 
	 position: absolute; 
	 width: 47px;
	 height: 17px;
	 z-index:50;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: lighter;
	color: #fff;
}
 #layer_188 > strong
{ 
 font-weight: normal;
	font-size: 22px;
} 
 #MothersWieghtismonit 
{ 
	 left: 523px; 
	 top: 1034px; 
	 position: absolute; 
	 width: 237px;
	 height: 49px;
	 z-index:51;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: lighter;
	
} 

 #ccmvcmrcopy 
{ 
	 left: 145px; 
	 top: 613px; 
	 position: absolute; 
	 width: 716px;
	 height: 311px;
	 z-index:52;
} 

 #DeliveryLocations 
{ 
	 left: 308px; 
	 top: 651px; 
	 position: absolute; 
	 width: 315px;
	 height: 38px;
	 z-index:53;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size: 30px;
} 

 #layer_09 
{ 
	 left: 669px; 
	 top: 827px; 
	 position: absolute; 
	 width: 39px;
	 height: 28px;
	 z-index:54;
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	font-size:32px;
	color: #727d7b;
} 

 #layer_23 
{ 
	 left: 528px; 
	 top: 828px; 
	 position: absolute; 
	 width: 39px;
	 height: 27px;
	 z-index:55;
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	font-size:32px;
	color: #0b1381;
} 

 #layer_65 
{ 
	 left: 388px; 
	 top: 828px; 
	 position: absolute; 
	 width: 39px;
	 height: 27px;
	 z-index:56;
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	font-size:32px;
	color: #0b8127;
	
} 

 #layer_112 
{ 
	 left: 247px; 
	 top: 828px; 
	 position: absolute; 
	 width: 59px;
	 height: 27px;
	 z-index:57;
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	font-size:32px;
	color: #a4b609;
} 

 #Hospital 
{ 
	 left: 500px; 
	 top: 697px; 
	 position: absolute; 
	 width: 102px;
	 height: 102px;
	 z-index:58;
} 

 #home 
{ 
	 left: 216px; 
	 top: 700px; 
	 position: absolute; 
	 width: 102px;
	 height: 103px;
	 z-index:59;
} 

 #OnRoute 
{ 
	 left: 646px; 
	 top: 698px; 
	 position: absolute; 
	 width: 104px;
	 height: 104px;
	 z-index:60;
} 

 #clinic 
{ 
	 left: 360px; 
	 top: 698px; 
	 position: absolute; 
	 width: 105px;
	 height: 105px;
	 z-index:61;
} 

 #ccmvcmr 
{ 
	 left: 145px; 
	 top: 338px; 
	 position: absolute; 
	 width: 716px;
	 height: 248px;
	 z-index:62;
} 

 #motherpic 
{ 
	 left: 271px; 
	 top: 393px; 
	 position: absolute; 
	 width: 113px;
	 height: 146px;
	 z-index:63;
} 

 #ExpectedDeliveries98 
{ 
	 left: 433px; 
	 top: 440px; 
	 position: absolute; 
	 width: 215px;
	 height: 22px;
	 z-index:64;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #0b8127;
} 

 #layer_98_1 
{ 
	 left: 657px; 
	 top: 430px; 
	 position: absolute; 
	 width: 40px;
	 height: 87px;
	 z-index:65;
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	
	
	
} 

 #UnknownDeliveries23 
{ 
	 left: 433px; 
	 top: 486px; 
	 position: absolute; 
	 width: 220px;
	 height: 16px;
	 z-index:66;
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	color: #6e726f;
	
} 

 #layer_23_0 
{ 
	 left: 662px; 
	 top: 476px; 
	 position: absolute; 
	 width: 40px;
	 height: 27px;
	 z-index:67;
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
} 

 #Layer1copy 
{ 
	background: url(images/tab_background.png) repeat-x;
	 left: 1px; 
	 top: 266px; 
	 position: absolute; 
	 width: 100%;
	 height: 44px;
	 z-index:68;
} 

 #Layer15 
{ 
	 left: 503px; 
	 top: 267px; 
	 position: absolute; 
	 width: 379px;
	 height: 41px;
	 z-index:69;
} 

 #PregnanciesConfirmed 
{ 
	 left: 183px; 
	 top: 280px; 
	 position: absolute; 
	 width: 289px;
	 height: 18px;
	 z-index:70;
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	font-size: 20px;
} 

 #ExpectedDeliveries 
{ 
	 left: 591px; 
	 top: 280px; 
	 position: absolute; 
	 width: 258px;
	 height: 18px;
	 z-index:71;
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	font-size: 20px;
} 

 #Layer16 
{ 
	background: url(images/filter_background.png) repeat-x;
	
	 left: 1px; 
	 top: 204px; 
	 position: absolute; 
	 width: 100%;
	 height: 62px;
	 z-index:72;
} 

 #Layer17 
{ 
	 left: 658px; 
	 top: 226px; 
	 position: absolute; 
	 width: 207px;
	 height: 22px;
	 z-index:73;
} 

 #Layer18 
{ 
	 left: 845px; 
	 top: 228px; 
	 position: absolute; 
	 width: 20px;
	 height: 18px;
	 z-index:74;
} 

 #SelectHealthCare 
{ 
	 left: 681px; 
	 top: 230px; 
	 position: absolute; 
	 width: 127px;
	 height: 12px;
	 z-index:75;
} 

 #Layer19 
{ 
	 left: 635px; 
	 top: 225px; 
	 position: absolute; 
	 width: 15px;
	 height: 23px;
	 z-index:76;
} 

 #Layer20 
{ 
	 left: 431px; 
	 top: 224px; 
	 position: absolute; 
	 width: 197px;
	 height: 24px;
	 z-index:77;
} 

 #Layer4copy 
{ 
	 left: 186px; 
	 top: 225px; 
	 position: absolute; 
	 width: 209px;
	 height: 23px;
	 z-index:78;
} 

 #From 
{ 
	 left: 138px; 
	 top: 231px; 
	 position: absolute; 
	 width: 40px;
	 height: 11px;
	 z-index:79;
} 

 #Layer21 
{ 
	 left: 97px; 
	 top: 223px; 
	 position: absolute; 
	 width: 24px;
	 height: 26px;
	 z-index:80;
} 

 #To 
{ 
	 left: 402px; 
	 top: 229px; 
	 position: absolute; 
	 width: 21px;
	 height: 11px;
	 z-index:81;
} 

 #Layer1copy_0 
{ 
	background: url(images/banner_background.png) repeat-x;
	 left: 0px; 
	 top: 6px; 
	 position: absolute; 
	 width: 100%;
	 height: 205px;
	 z-index:80;
} 

 #Layer10 
{ 
	 left: 146px; 
	 top: 161px; 
	 position: absolute; 
	 width: 118px;
	 height: 28px;
	 z-index:83;
} 

 #Preventingthedeathso 
{ 
	 left: 393px; 
	 top: 89px; 
	 position: absolute; 
	 width: 325px;
	 height: 77px;
	 z-index:84;
		font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	font-size: 20px;
} 

 #Layer11 
{ 
	 left: 751px; 
	 top: 66px; 
	 position: absolute; 
	 width: 116px;
	 height: 118px;
	 z-index:85;
} 

 #Layer18copy8 
{ 
	background: url(images/Layer18copy8.png) repeat-x;
	 left: 0px; 
	 top: 6px; 
	 position: absolute; 
	 width: 100%;
	 height: 3px;
	 z-index:86;
} 

 #Layer19copy8 
{ 
	background: url(images/Layer19copy8.png) repeat-x;
	 left: 0px; 
	 top: 9px; 
	 position: absolute; 
	 width: 100%;
	 height: 25px;
	 z-index:87;
} 

 #ENGLISH 
{ 
	 left: 793px; 
	 top: 18px; 
	 position: absolute; 
	 width: 36px;
	 height: 7px;
	 z-index:88;
		font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 10px;
} 

 #FRENCH 
{ 
	 left: 940px; 
	 top: 18px; 
	 position: absolute; 
	 width: 34px;
	 height: 7px;
	 z-index:89;
		font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 10px;
} 

 #KINYARWANDA 
{ 
	 left: 852px; 
	 top: 18px; 
	 position: absolute; 
	 width: 66px;
	 height: 7px;
	 z-index:90;
		font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 10px;
} 

 #Layer12 
{ 
	 left: 143px; 
	 top: 81px; 
	 position: absolute; 
	 width: 118px;
	 height: 55px;
	 z-index:91;
} 

 #Layer1copy17 
{ 
	 left: 140px; 
	 top: 32px; 
	 position: absolute; 
	 width: 816px;
	 height: 30px;
	 z-index:92;
} 

 #Layer13 
{ 
	 left: 201px; 
	 top: 32px; 
	 position: absolute; 
	 width: 595px;
	 height: 30px;
	 z-index:93;
} 

 #Layer1copy18 
{ 
	 left: 235px; 
	 top: 39px; 
	 position: absolute; 
	 width: 624px;
	 height: 16px;
	 z-index:94;
} 

 #PregnanciesNewBornCh 
{ 
	 left: 147px; 
	 top: 41px; 
	 position: absolute; 
	 width: 784px;
	 height: 14px;
	 z-index:95;
} 

 #Layer14 
{ 
	 left: 141px; 
	 top: 63px; 
	 position: absolute; 
	 width: 294px;
	 height: 123px;
	 z-index:96;
} 

 #dotscopy4 
{ 
	 left: 148px; 
	 top: 73px; 
	 position: absolute; 
	 width: 201px;
	 height: 76px;
	 z-index:97;
} 

 #SubmittedPregnancies 
{ 
	 left: 154px; 
	 top: 77px; 
	 position: absolute; 
	 width: 273px;
	 height: 68px;
	 z-index:98;
} 

 #Layer5copy 
{ 
	 left: 238px; 
	 top: 63px; 
	 position: absolute; 
	 width: 155px;
	 height: 81px;
	 z-index:99;
} 

 #dotscopy5 
{ 
	 left: 245px; 
	 top: 73px; 
	 position: absolute; 
	 width: 18px;
	 height: 46px;
	 z-index:100;
} 

 #TrackingNewBornPo 
{ 
	 left: 250px; 
	 top: 77px; 
	 position: absolute; 
	 width: 118px;
	 height: 38px;
	 z-index:101;
} 

 #Layer2copy8 
{ 
	 left: 333px; 
	 top: 32px; 
	 position: absolute; 
	 width: 105px;
	 height: 30px;
	 z-index:102;
} 

 #Layer2copy12 
{ 
	 left: 523px; 
	 top: 32px; 
	 position: absolute; 
	 width: 118px;
	 height: 30px;
	 z-index:103;
} 

 #Layer2copy14 
{ 
	 left: 861px; 
	 top: 32px; 
	 position: absolute; 
	 width: 95px;
	 height: 30px;
	 z-index:104;
} 

 #Layer2copy13 
{ 
	 left: 648px; 
	 top: 32px; 
	 position: absolute; 
	 width: 205px;
	 height: 30px;
	 z-index:105;
} 

 #Layer2copy11 
{ 
	 left: 441px; 
	 top: 32px; 
	 position: absolute; 
	 width: 77px;
	 height: 30px;
	 z-index:106;
} 

 #Layer2copy9 
{ 
	 left: 140px; 
	 top: 32px; 
	 position: absolute; 
	 width: 95px;
	 height: 30px;
	 z-index:107;
} 

 #Layer2copy10 
{ 
	 left: 240px; 
	 top: 32px; 
	 position: absolute; 
	 width: 84px;
	 height: 30px;
	 z-index:108;
}
 #Layer2copy9:hover
{ 
	background-color: #ffffff;
	opacity: 0.7;
	border-radius: 25px;
	cursor: pointer;
}
 #Layer2copy8:hover
{ 
	background-color: #ffffff;
	opacity: 0.7;
	border-radius: 25px;
	cursor: pointer;
}
 #Layer2copy12:hover
{ 
	background-color: #ffffff;
	opacity: 0.7;
	border-radius: 25px;
	cursor: pointer;
}
 #Layer2copy13:hover
{ 
	background-color: #ffffff;
	opacity: 0.7;
	border-radius: 25px;
	cursor: pointer;
}
 #Layer2copy14:hover
{ 
	background-color: #ffffff;
	opacity: 0.7;
	border-radius: 25px;
	cursor: pointer;
}
 #Layer2copy11:hover
{ 
	background-color: #ffffff;
	opacity: 0.7;
	border-radius: 25px;
	cursor: pointer;
}
 #Layer2copy10:hover
{ 
	background-color: #ffffff;
	opacity: 0.7;
	border-radius: 25px;
	cursor: pointer;
}

