 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1000px;
	 height: 2118px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Background 
{ 
	background: url(images/Background.png) repeat-x;
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 100%;
	 height: 2118px;
	 z-index:1;
} 

 #Layer1copy 
{ 
	background: url(images/banner_background.png) repeat-x;
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 100%;
	 height: 230px;
	 z-index:2;
} 

 #Layer1copy2 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 999px;
	 height: 271px;
	 z-index:3;
} 

 #Layer1 
{ 
	 left: 137px; 
	 top: 157px; 
	 position: absolute; 
	 width: 119px;
	 height: 28px;
	 z-index:4;
} 

 #ObservingMotherandCh 
{ 
	 left: 386px; 
	 top: 83px; 
	 position: absolute; 
	 width: 233px;
	 height: 105px;
	 z-index:5;
} 

 #VectorSmartObject 
{ 
	 left: 741px; 
	 top: 77px; 
	 position: absolute; 
	 width: 137px;
	 height: 143px;
	 z-index:6;
} 

 #Layer18copy8 
{ 
	background: url(images/Layer18copy8.png) repeat-x;
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 100%;
	 height: 3px;
	 z-index:7;
} 

 #Layer19copy8 
{ 
	 left: 0px; 
	 top: 2px; 
	 position: absolute; 
	 width: 100%;
	 height: 26px;
	 z-index:8;
	background: url(images/Layer19copy8.png) repeat-x;
} 

 #ENGLISH 
{ 
	 left: 688px; 
	 top: 13px; 
	 position: absolute; 
	 width: 36px;
	 height: 7px;
	 z-index:9;
} 

 #FRENCH 
{ 
	 left: 836px; 
	 top: 13px; 
	 position: absolute; 
	 width: 34px;
	 height: 7px;
	 z-index:10;
} 

 #KINYARWANDA 
{ 
	 left: 748px; 
	 top: 12px; 
	 position: absolute; 
	 width: 66px;
	 height: 7px;
	 z-index:11;
} 

 #Layer2 
{ 
	 left: 134px; 
	 top: 76px; 
	 position: absolute; 
	 width: 119px;
	 height: 55px;
	 z-index:12;
} 

 #Layer1copy17 
{ 
	 left: 130px; 
	 top: 27px; 
	 position: absolute; 
	 width: 822px;
	 height: 30px;
	 z-index:13;
} 

 #Layer3 
{ 
	 left: 193px; 
	 top: 27px; 
	 position: absolute; 
	 width: 598px;
	 height: 30px;
	 z-index:14;
} 

 #Layer1copy18 
{ 
	 left: 226px; 
	 top: 34px; 
	 position: absolute; 
	 width: 629px;
	 height: 16px;
	 z-index:15;
} 

 #PregnanciesNewBornCh 
{ 
	 left: 138px; 
	 top: 35px; 
	 position: absolute; 
	 width: 790px;
	 height: 14px;
	 z-index:16;
} 

 #Layer4 
{ 
	 left: 132px; 
	 top: 58px; 
	 position: absolute; 
	 width: 296px;
	 height: 123px;
	 z-index:17;
} 

 #dotscopy4 
{ 
	 left: 140px; 
	 top: 68px; 
	 position: absolute; 
	 width: 202px;
	 height: 77px;
	 z-index:18;
} 

 #SubmittedPregnancies 
{ 
	 left: 145px; 
	 top: 72px; 
	 position: absolute; 
	 width: 275px;
	 height: 69px;
	 z-index:19;
} 

 #Layer5copy 
{ 
	 left: 230px; 
	 top: 58px; 
	 position: absolute; 
	 width: 156px;
	 height: 81px;
	 z-index:20;
} 

 #dotscopy5 
{ 
	 left: 237px; 
	 top: 68px; 
	 position: absolute; 
	 width: 18px;
	 height: 47px;
	 z-index:21;
} 

 #TrackingNewBornPo 
{ 
	 left: 242px; 
	 top: 72px; 
	 position: absolute; 
	 width: 119px;
	 height: 39px;
	 z-index:22;
} 

 #Layer5copy2 
{ 
	 left: 435px; 
	 top: 58px; 
	 position: absolute; 
	 width: 155px;
	 height: 81px;
	 z-index:23;
} 

 #dotscopy6 
{ 
	 left: 443px; 
	 top: 68px; 
	 position: absolute; 
	 width: 18px;
	 height: 48px;
	 z-index:24;
} 

 #ChildNutritionMOt 
{ 
	 left: 447px; 
	 top: 72px; 
	 position: absolute; 
	 width: 118px;
	 height: 39px;
	 z-index:25;
} 

 #Layer2copy8 
{ 
	 left: 326px; 
	 top: 27px; 
	 position: absolute; 
	 width: 106px;
	 height: 30px;
	 z-index:26;
} 

 #Layer2copy12 
{ 
	 left: 517px; 
	 top: 27px; 
	 position: absolute; 
	 width: 119px;
	 height: 30px;
	 z-index:27;
} 

 #Layer2copy14 
{ 
	 left: 857px; 
	 top: 27px; 
	 position: absolute; 
	 width: 95px;
	 height: 30px;
	 z-index:28;
} 

 #Layer2copy13 
{ 
	 left: 643px; 
	 top: 27px; 
	 position: absolute; 
	 width: 206px;
	 height: 30px;
	 z-index:29;
} 

 #Layer2copy11 
{ 
	 left: 435px; 
	 top: 27px; 
	 position: absolute; 
	 width: 76px;
	 height: 30px;
	 z-index:30;
} 

 #Layer2copy9 
{ 
	 left: 131px; 
	 top: 27px; 
	 position: absolute; 
	 width: 95px;
	 height: 30px;
	 z-index:31;
} 

 #Layer2copy10 
{ 
	 left: 233px; 
	 top: 27px; 
	 position: absolute; 
	 width: 83px;
	 height: 30px;
	 z-index:32;
} 

 #Layer5 
{ 
	background: url(images/Layer5.png) repeat-x;
	 left: 0px; 
	 top: 228px; 
	 position: absolute; 
	 width: 100%;
	 height: 63px;
	 z-index:33;
} 

 #Layer6 
{ 
	 left: 653px; 
	 top: 251px; 
	 position: absolute; 
	 width: 208px;
	 height: 21px;
	 z-index:34;
} 

 #Layer7 
{ 
	 left: 841px; 
	 top: 252px; 
	 position: absolute; 
	 width: 20px;
	 height: 19px;
	 z-index:35;
} 

 #SelectHealthCare 
{ 
	 left: 676px; 
	 top: 254px; 
	 position: absolute; 
	 width: 128px;
	 height: 12px;
	 z-index:36;
} 

 #Layer8 
{ 
	 left: 630px; 
	 top: 249px; 
	 position: absolute; 
	 width: 15px;
	 height: 23px;
	 z-index:37;
} 

 #Layer9 
{ 
	 left: 424px; 
	 top: 249px; 
	 position: absolute; 
	 width: 199px;
	 height: 23px;
	 z-index:38;
} 

 #Layer4copy 
{ 
	 left: 178px; 
	 top: 249px; 
	 position: absolute; 
	 width: 210px;
	 height: 23px;
	 z-index:39;
} 

 #From 
{ 
	 left: 129px; 
	 top: 255px; 
	 position: absolute; 
	 width: 40px;
	 height: 11px;
	 z-index:40;
} 

 #Layer10 
{ 
	 left: 88px; 
	 top: 247px; 
	 position: absolute; 
	 width: 23px;
	 height: 27px;
	 z-index:41;
} 

 #To 
{ 
	 left: 395px; 
	 top: 254px; 
	 position: absolute; 
	 width: 21px;
	 height: 11px;
	 z-index:42;
} 

 #Layer18copy 
{ 
	 left: 765px; 
	 top: 438px; 
	 position: absolute; 
	 width: 107px;
	 height: 41px;
	 z-index:43;
} 

 #ccmvcmrcopy2 
{ 
	 left: 145px; 
	 top: 319px; 
	 position: absolute; 
	 width: 752px;
	 height: 285px;
	 z-index:44;
} 

 #ccmvcmrcopy4 
{ 
	 left: 145px; 
	 top: 1305px; 
	 position: absolute; 
	 width: 752px;
	 height: 171px;
	 z-index:45;
} 

 #ccmvcmrcopy3 
{ 
	 left: 145px; 
	 top: 634px; 
	 position: absolute; 
	 width: 752px;
	 height: 285px;
	 z-index:46;
} 

 #ccmvcmrcopy5 
{ 
	 left: 145px; 
	 top: 1504px; 
	 position: absolute; 
	 width: 752px;
	 height: 285px;
	 z-index:47;
} 

 #VectorSmartObject_0 
{ 
	 left: 173px; 
	 top: 348px; 
	 position: absolute; 
	 width: 193px;
	 height: 105px;
	 z-index:48;
} 

 #Childnotbebreastfeed 
{ 
	 left: 406px; 
	 top: 348px; 
	 position: absolute; 
	 width: 193px;
	 height: 105px;
	 z-index:49;
} 

 #layer_11 
{ 
	 left: 643px; 
	 top: 357px; 
	 position: absolute; 
	 width: 176px;
	 height: 96px;
	 z-index:50;
} 

 #layer_108 
{ 
	 left: 340px; 
	 top: 477px; 
	 position: absolute; 
	 width: 326px;
	 height: 94px;
	 z-index:51;
} 

 #Layer11 
{ 
	 left: 302px; 
	 top: 744px; 
	 position: absolute; 
	 width: 374px;
	 height: 14px;
	 z-index:52;
} 

 #Layer1copy5 
{ 
	 left: 301px; 
	 top: 808px; 
	 position: absolute; 
	 width: 382px;
	 height: 13px;
	 z-index:53;
} 

 #layer_112 
{ 
	 left: 840px; 
	 top: 712px; 
	 position: absolute; 
	 width: 28px;
	 height: 13px;
	 z-index:54;
} 

 #layer_76 
{ 
	 left: 686px; 
	 top: 742px; 
	 position: absolute; 
	 width: 19px;
	 height: 13px;
	 z-index:55;
} 

 #layer_84 
{ 
	 left: 732px; 
	 top: 771px; 
	 position: absolute; 
	 width: 20px;
	 height: 13px;
	 z-index:56;
} 

 #layer_79 
{ 
	 left: 693px; 
	 top: 808px; 
	 position: absolute; 
	 width: 19px;
	 height: 13px;
	 z-index:57;
} 

 #layer_55 
{ 
	 left: 556px; 
	 top: 835px; 
	 position: absolute; 
	 width: 19px;
	 height: 13px;
	 z-index:58;
} 

 #layer_42 
{ 
	 left: 483px; 
	 top: 871px; 
	 position: absolute; 
	 width: 20px;
	 height: 13px;
	 z-index:59;
} 

 #Layer1copy_0 
{ 
	 left: 302px; 
	 top: 774px; 
	 position: absolute; 
	 width: 415px;
	 height: 13px;
	 z-index:60;
} 

 #Layer1copy2_0 
{ 
	 left: 301px; 
	 top: 714px; 
	 position: absolute; 
	 width: 522px;
	 height: 13px;
	 z-index:61;
} 

 #Layer1copy3 
{ 
	 left: 302px; 
	 top: 837px; 
	 position: absolute; 
	 width: 243px;
	 height: 13px;
	 z-index:62;
} 

 #Layer1copy4 
{ 
	 left: 301px; 
	 top: 870px; 
	 position: absolute; 
	 width: 174px;
	 height: 13px;
	 z-index:63;
} 

 #1stMonth 
{ 
	 left: 197px; 
	 top: 719px; 
	 position: absolute; 
	 width: 81px;
	 height: 14px;
	 z-index:64;
} 

 #2ndMonth 
{ 
	 left: 196px; 
	 top: 750px; 
	 position: absolute; 
	 width: 89px;
	 height: 14px;
	 z-index:65;
} 

 #3rdMonth 
{ 
	 left: 197px; 
	 top: 778px; 
	 position: absolute; 
	 width: 85px;
	 height: 14px;
	 z-index:66;
} 

 #4thMonth 
{ 
	 left: 196px; 
	 top: 807px; 
	 position: absolute; 
	 width: 85px;
	 height: 14px;
	 z-index:67;
} 

 #5thMonth 
{ 
	 left: 198px; 
	 top: 837px; 
	 position: absolute; 
	 width: 84px;
	 height: 14px;
	 z-index:68;
} 

 #6thMonth 
{ 
	 left: 199px; 
	 top: 866px; 
	 position: absolute; 
	 width: 84px;
	 height: 14px;
	 z-index:69;
} 

 #Monthlybreastfeeding 
{ 
	 left: 348px; 
	 top: 678px; 
	 position: absolute; 
	 width: 338px;
	 height: 24px;
	 z-index:70;
} 

 #ProportionofPregnant 
{ 
	 left: 293px; 
	 top: 971px; 
	 position: absolute; 
	 width: 149px;
	 height: 22px;
	 z-index:71;
} 

 #Proportionofpregnant 
{ 
	 left: 558px; 
	 top: 975px; 
	 position: absolute; 
	 width: 144px;
	 height: 19px;
	 z-index:72;
} 

 #Proportionoflivebirt 
{ 
	 left: 280px; 
	 top: 1053px; 
	 position: absolute; 
	 width: 196px;
	 height: 9px;
	 z-index:73;
} 

 #proportionoflivebirt 
{ 
	 left: 513px; 
	 top: 1058px; 
	 position: absolute; 
	 width: 235px;
	 height: 9px;
	 z-index:74;
} 

 #Proportionofchildren 
{ 
	 left: 284px; 
	 top: 1122px; 
	 position: absolute; 
	 width: 168px;
	 height: 19px;
	 z-index:75;
} 

 #proportionofchildren 
{ 
	 left: 546px; 
	 top: 1119px; 
	 position: absolute; 
	 width: 168px;
	 height: 20px;
	 z-index:76;
} 

 #proportionofchildren_0 
{ 
	 left: 282px; 
	 top: 1214px; 
	 position: absolute; 
	 width: 172px;
	 height: 19px;
	 z-index:77;
} 

 #layer_152 
{ 
	 left: 341px; 
	 top: 1008px; 
	 position: absolute; 
	 width: 54px;
	 height: 14px;
	 z-index:78;
} 

 #layer_44 
{ 
	 left: 602px; 
	 top: 1001px; 
	 position: absolute; 
	 width: 44px;
	 height: 14px;
	 z-index:79;
} 

 #layer_29 
{ 
	 left: 334px; 
	 top: 1081px; 
	 position: absolute; 
	 width: 43px;
	 height: 14px;
	 z-index:80;
} 

 #layer_822 
{ 
	 left: 604px; 
	 top: 1076px; 
	 position: absolute; 
	 width: 56px;
	 height: 14px;
	 z-index:81;
} 

 #layer_27 
{ 
	 left: 333px; 
	 top: 1156px; 
	 position: absolute; 
	 width: 44px;
	 height: 14px;
	 z-index:82;
} 

 #layer_46 
{ 
	 left: 605px; 
	 top: 1161px; 
	 position: absolute; 
	 width: 44px;
	 height: 14px;
	 z-index:83;
} 

 #layer_56 
{ 
	 left: 336px; 
	 top: 1258px; 
	 position: absolute; 
	 width: 44px;
	 height: 14px;
	 z-index:84;
} 

 #layer_73 
{ 
	 left: 613px; 
	 top: 1259px; 
	 position: absolute; 
	 width: 44px;
	 height: 14px;
	 z-index:85;
} 

 #proportionofchildren_1 
{ 
	 left: 540px; 
	 top: 1219px; 
	 position: absolute; 
	 width: 179px;
	 height: 20px;
	 z-index:86;
} 

 #Layer12 
{ 
	 left: 545px; 
	 top: 1333px; 
	 position: absolute; 
	 width: 114px;
	 height: 114px;
	 z-index:87;
} 

 #UnderWeight 
{ 
	 left: 373px; 
	 top: 1360px; 
	 position: absolute; 
	 width: 96px;
	 height: 16px;
	 z-index:88;
} 

 #OverWeight 
{ 
	 left: 678px; 
	 top: 1360px; 
	 position: absolute; 
	 width: 88px;
	 height: 16px;
	 z-index:89;
} 

 #layer_7869 
{ 
	 left: 384px; 
	 top: 1390px; 
	 position: absolute; 
	 width: 76px;
	 height: 21px;
	 z-index:90;
} 

 #7869copy 
{ 
	 left: 680px; 
	 top: 1390px; 
	 position: absolute; 
	 width: 76px;
	 height: 21px;
	 z-index:91;
} 

 #Layer13 
{ 
	 left: 237px; 
	 top: 1333px; 
	 position: absolute; 
	 width: 114px;
	 height: 114px;
	 z-index:92;
} 

 #MalnutritionCases 
{ 
	 left: 347px; 
	 top: 1523px; 
	 position: absolute; 
	 width: 139px;
	 height: 13px;
	 z-index:93;
} 

 #layer_11_0 
{ 
	 left: 244px; 
	 top: 1606px; 
	 position: absolute; 
	 width: 147px;
	 height: 148px;
	 z-index:94;
} 

 #At1year 
{ 
	 left: 395px; 
	 top: 1606px; 
	 position: absolute; 
	 width: 149px;
	 height: 149px;
	 z-index:95;
} 

 #At2years 
{ 
	 left: 552px; 
	 top: 1607px; 
	 position: absolute; 
	 width: 148px;
	 height: 149px;
	 z-index:96;
} 

 #Numberofmalnutrition 
{ 
	 left: 288px; 
	 top: 1557px; 
	 position: absolute; 
	 width: 414px;
	 height: 32px;
	 z-index:97;
} 

 #Layer14 
{ 
	 left: 774px; 
	 top: 1735px; 
	 position: absolute; 
	 width: 104px;
	 height: 39px;
	 z-index:98;
} 

 #Layer15 
{ 
	 left: 0px; 
	 top: 1844px; 
	 position: absolute; 
	 width: 1000px;
	 height: 6px;
	 z-index:99;
} 

 #ContactUsReachouttou 
{ 
	 left: 276px; 
	 top: 1895px; 
	 position: absolute; 
	 width: 162px;
	 height: 171px;
	 z-index:100;
} 

 #FollowusonSocialNetw 
{ 
	 left: 540px; 
	 top: 1903px; 
	 position: absolute; 
	 width: 183px;
	 height: 59px;
	 z-index:101;
} 

 #Layer16 
{ 
	 left: 541px; 
	 top: 1978px; 
	 position: absolute; 
	 width: 98px;
	 height: 28px;
	 z-index:102;
} 

 #Layer17 
{ 
	 left: 512px; 
	 top: 2031px; 
	 position: absolute; 
	 width: 120px;
	 height: 28px;
	 z-index:103;
} 

 #Layer18 
{ 
	 left: 374px; 
	 top: 1823px; 
	 position: absolute; 
	 width: 263px;
	 height: 64px;
	 z-index:104;
} 

 #Layer19 
{ 
	 left: 658px; 
	 top: 1998px; 
	 position: absolute; 
	 width: 62px;
	 height: 65px;
	 z-index:105;
} 
